// Body
$body-bg: #f8fafc;
$first:#746b94;
$second:#98e7cf;
$btn-primary:#006fc5;
$btn-warning:#ebd703;
$btn-danger:#e60000;
$bg-info:rgb(215, 209, 209);
$form: rgb(57, 57, 57);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Various
$nav-height: 60px;
