// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';
@import 'common';
@import 'views/welcome';
@import 'views/show_client';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    height:100vh;
}
//navbar
ul[id="navId"] {
    height:45px;
}
 .main-content {
    height: calc(100vh - 45px);
 }

//client index
.client-index {
    img {
        width:100px;
    }
}

//close message
.close_message {
    cursor: pointer;
}