// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';
@import 'common';
@import 'views/welcome';
@import 'views/show_client';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

body {
    height:100vh;
}
//navbar
ul[id="navId"] {
    height:$nav-height;
}
 .main-content {
    height: calc(100vh - #{$nav-height});
    overflow-y: scroll;
    background: linear-gradient(0deg, $first 0%, $second 100%);

    .alert {
        top:calc(1rem + #{$nav-height});
        right:1rem;
    }
 }

//client index
.client-index {
    img {
        width:100px;
    }
}

//close message
.close_message {
    cursor: pointer;
}